/*!
 * Theme - Nanostrap 0.1
 * https://github.com/viktorbezdek/nanostrap
 * --------------------------------------------------------------------------------
 * Forked from:
 * Bootstrap v3.1.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

 /** Makes optimally sized margins according to font size */

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:active,
.btn.active {
  background-image: none;
}

.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}

.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #2b669a;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #2d6ca2;
  background-position: 0 -15px;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #2d6ca2;
  border-color: #2b669a;
}

.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}

.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}

.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}

.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}

.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}

.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}

.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}

.thumbnail,
.img-thumbnail {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-color: #e8e8e8;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
  background-color: #357ebd;
}

.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}

.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222222 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}

.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}

.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}

.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}

.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

.progress-bar {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

.list-group {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #3071a9;
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3278b3 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3278b3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0);
  border-color: #3278b3;
}

.panel {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}

.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}

.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}

.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}

.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  border-color: #dcdcdc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

input[type="search"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="date"] {
  line-height: 34px;
}

.form-group {
  margin-bottom: 15px;
}

.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.radio label,
.checkbox label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

select.input-lg {
  height: 46px;
  line-height: 46px;
}

textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}

.has-feedback {
  position: relative;
}

.has-feedback .form-control {
  padding-right: 42.5px;
}

.has-feedback .form-control-feedback {
  position: absolute;
  top: 25px;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #3c763d;
}

.has-success .form-control {
  border-color: #3c763d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: #2b542c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}

.has-success .form-control-feedback {
  color: #3c763d;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #8a6d3b;
}

.has-warning .form-control {
  border-color: #8a6d3b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
  border-color: #66512c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}

.has-warning .form-control-feedback {
  color: #8a6d3b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #a94442;
}

.has-error .form-control {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}

.has-error .form-control-feedback {
  color: #a94442;
}

.form-control-static {
  margin-bottom: 0;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .form-inline .input-group > .form-control {
    width: 100%;
  }

  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
  }

  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }

  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.form-horizontal .form-control-static {
  padding-top: 7px;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}

.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 15px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary .badge {
  color: #428bca;
  background-color: #ffffff;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}

.btn-link {
  color: #428bca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label:empty {
  display: none;
}

.btn .label {
  position: relative;
  top: -1px;
}

.label-default {
  background-color: #999999;
}

.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}

.label-primary {
  background-color: #428bca;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}

.label-success {
  background-color: #5cb85c;
}

.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}

.label-info {
  background-color: #5bc0de;
}

.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}

.label-danger {
  background-color: #d9534f;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #999999;
  border-radius: 10px;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.btn-xs .badge {
  top: 0;
  padding: 1px 5px;
}

a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #428bca;
  background-color: #ffffff;
}

.nav-pills > li > a > .badge {
  margin-left: 3px;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/text/roboto-v20-latin-300.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/text/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/text/roboto-v20-latin-300.woff2') format('woff2'),
       url('../fonts/text/roboto-v20-latin-300.woff') format('woff'),
       url('../fonts/text/roboto-v20-latin-300.ttf') format('truetype'),
       url('../fonts/text/roboto-v20-latin-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/text/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/text/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/text/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/text/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/text/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/text/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'league_gothicregular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/headers/leaguegothic-regular-webfont.eot');
  src: url('../fonts/headers/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/headers/leaguegothic-regular-webfont.woff2') format('woff2'),
       url('../fonts/headers/leaguegothic-regular-webfont.woff') format('woff'),
       url('../fonts/headers/leaguegothic-regular-webfont.ttf') format('truetype'),
       url('../fonts/headers/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
}

@font-face {
  font-family: 'ghostentista';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/icons/ghostentista.eot?20644569');
  src: url('../fonts/icons/ghostentista.eot?20644569#iefix') format('embedded-opentype'),
       url('../fonts/icons/ghostentista.woff?20644569') format('woff'),
       url('../fonts/icons/ghostentista.ttf?20644569') format('truetype'),
       url('../fonts/icons/ghostentista.svg?20644569#ghostentista') format('svg');
}

.ghostentista-font {
  font-family: "ghostentista";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ghostentista";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 120%;
}

.icon-code:before {
  content: '\f121';
}

/* '' */

.icon-soundcloud-circled:before {
  content: '\f08a';
}

/* '' */

.icon-github-circled:before {
  content: '\f301';
}

/* '' */

.icon-flickr-circled:before {
  content: '\f304';
}

/* '' */

.icon-vimeo-circled:before {
  content: '\f307';
}

/* '' */

.icon-twitter-circled:before {
  content: '\f30a';
}

/* '' */

.icon-facebook-circled:before {
  content: '\f30d';
}

/* '' */

.icon-gplus-circled:before {
  content: '\f310';
}

/* '' */

.icon-menu-1:before {
  content: '\2630';
}

/* '☰' */

.icon-mail-circled:before {
  content: '\e0ea';
}

/* '' */

.icon-linkedin-circled:before {
  content: '\f319';
}

/* '' */

.icon-dribbble-circled:before {
  content: '\f31c';
}

/* '' */

.icon-stumbleupon-circled:before {
  content: '\f31f';
}

/* '' */

.icon-lastfm-circled:before {
  content: '\f322';
}

/* '' */

.icon-rdio-circled:before {
  content: '\f325';
}

/* '' */

.icon-pinterest-circled:before {
  content: '\f313';
}

/* '' */

.icon-instagram-circled:before {
  content: '\f05e';
}

/* '' */

.icon-tumblr-circled:before {
  content: '\f316';
}

/* '' */

.column {
  float: left;
}

.size-1of4 {
  width: 25%;
}

.size-1of3 {
  width: 33.333%;
}

.size-1of2 {
  width: 50%;
}

.size-1of1 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #timeline[data-columns]::before {
    content: '1 .column';
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  #timeline[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
  #timeline[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

@media screen and (min-width: 1600px) {
  #timeline[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}

::-moz-selection {
  color: #dddddd;
  background: rgba(112, 189, 255, 0.91);
  text-shadow: none;
}

::selection {
  color: #dddddd;
  background: rgba(112, 189, 255, 0.91);
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3a4145;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.75em;
}

h4 {
  font-size: 2.5em;
}

h5 {
  font-size: 2.25em;
}

h6 {
  font-size: 2rem;
}

a {
  color: #1a75b5;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

a:hover {
  color: #b51e3e;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #3a4145;
}

p,
ul,
ol {
  margin: 1.6rem 0;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.4rem 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dddddd;
  margin: 3.2rem 0;
  padding: 0;
}

blockquote {
  line-height: 1.5;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6rem 0rem 1.6rem 0rem;
  padding: 0.8rem 1.6rem;
  border-left: #dddddd 0.4rem solid;
  background-color: #f4f4f4;
}

blockquote p {
  margin: 0.8rem 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8rem 0 0.8rem 1.5rem;
  font-size: 0.9em;
  color: #b7b7b7;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote cite {
  font-weight: bold;
}

blockquote cite a {
  font-weight: normal;
}

dl {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
}
dt {
    flex-basis: 20%;
    padding: 0.5rem;
    text-align: right;
}
dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 0.5rem;
}

mark {
  background-color: rgba(112, 189, 255, 0.91);
}

code,
tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre;
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 2px;
}

pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 1em;
  padding: 1rem 2rem !important;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  border: 1px solid #dddddd;
  background-color: #f4f4f4;
  display: inline-block;
}

pre code,
tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4rem;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #ffffff inset;
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6rem 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table th {
  color: #3a4145;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border: 1px solid #dddddd;
}

table table table {
  background-color: #f5f5f5;
}

table tbody > tr > td {
  border: 1px solid #dddddd;
}

table tbody > tr:nth-child(odd) > th {
  border: 1px solid #dddddd;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}

.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}

.slabtextdone .slabtext {
  display: block;
}

body,
p,
ul,
ol,
table {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.025em;
  line-height: 0.85;
  font-family: 'league_gothicregular';
  font-weight: normal !important;
  font-style: normal !important;
  text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  display: block;
}

h1 {
  margin-top: 1.0625em;
  margin-bottom: 0.3333333333333333em;
}

h2 {
  margin-top: 0.9583333333333334em;
  margin-bottom: 0.2777777777777778em;
}

h3 {
  margin-top: 0.8541666666666666em;
  margin-bottom: 0.2222222222222222em;
}

h4 {
  margin-top: 0.75em;
  margin-bottom: 0.16666666666666666em;
}

h5 {
  margin-top: 0.6458333333333334em;
  margin-bottom: 0.1111111111111111em;
}

h6 {
  margin-top: 0.5416666666666666em;
  margin-bottom: 0.05555555555555555em;
}

.cf {
  *zoom: 1;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

body,
body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 41.666666666666664%;
  min-width: 20em;
  background-color: #f5f5f5;
  color: #646464;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.hidden {
  display: none;
}

nav#pagination {
  margin-top: 2em;
  text-align: center;
}

nav#pagination #next-posts,
nav#pagination #prev-posts {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #dddddd;
  background-color: #f4f4f4;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #3a4145;
  font-size: 1em;
}

nav#pagination #next-posts:hover,
nav#pagination #prev-posts:hover {
  background-color: #3a4145;
  border-color: #3a4145;
  color: #dddddd;
}

.post-sep {
  border: 0;
  height: 50px;
  display: block;
  clear: both;
}

.headerBackground {
  background: #000;
}

body.no-fixed-elements header#site-head {
  position: static;
}

body.no-fixed-elements main.content {
  margin-top: 0;
}

#secondaryTitle {
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.5);
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.35);
  width: 100%;
  position: fixed;
  top: -5rem;
  height: 4rem;
  background: #000;
  z-index: 100;
}

#secondaryTitle h1,
#secondaryTitle h2 {
  display: inline;
  line-height: 4rem;
}

#secondaryTitle h2.logo {
  padding: 0 1rem;
  color: #fff;
  font-size: 6em;
}

#secondaryTitle h3 {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Roboto', sans-serif;
  text-transform: none;
  font-size: 2em;
}

#secondaryTitle #scroll-to-top {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#secondaryTitle #scroll-to-top:after {
  content: '\2630';
  color: #fff;
  font-size: 8em;
  font-family: "ghostentista";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

header#site-head {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.91);
  position: fixed;
  top: 0;
  z-index: 1;
  height: 600px;
  width: 100%;
  background-position: 50% 50%;
  font-size: 2.5em;
}

header#site-head .vertical {
  width: 100%;
  height: 600px;
  background: url(/theme/images/cover-pattern.png) 0 0 repeat;
}

header#site-head .vertical a {
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  width: 19em;
  height: 19em;
  display: block;
}

header#site-head #site-head-content {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: #000;
  border-radius: 10em;
  margin: 0 auto;
  width: 19em;
  height: 19em;
  padding-top: 0;
}

header#site-head #site-head-content:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

header#site-head a {
  text-decoration: none;
}

header#site-head h2 {
  max-width: 10em;
}

header#site-head h2 {
  display: table-cell;
  vertical-align: middle;
  width: 5em;
  height: 3.3em;
  line-height: 0.85;
  margin: 0.05em;
  text-align: center;
  color: #fff;
  font-size: 6em;
  padding: 0 0.1em;
}

header#site-head h2.image-logo {
  padding-top: 0;
  padding-bottom: 0;
  height: 1.5em;
  width: 2.75em;
  overflow: hidden;
  text-indent: -30em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

main.content {
  -webkit-overflow-scrolling: touch;
  min-height: 30em;
  position: relative;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.35);
  background-color: #f5f5f5;
  padding: 0 0 1em 0;
  margin: 600px auto 0;
  font-size: 3em;
}

main.content .article-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

main.content #timeline {
  margin: 0em;
  padding: 0 1em;
}

main.content article {
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  display: block;
}

main.content article.loading {
  opacity: 0;
}

main.content article.post {
  padding: 1.5em;
  max-width: 1200px;
  border: 0.5em solid #f5f5f5;
  width: 100% !important;
}

main.content article.detail-post {
  background-color: #ffffff;
  padding: 1.5em;
  margin: 0 auto;
  max-width: 1200px;
}

main.content article.detail-post h1 {
  font-size: 5.5em;
}

main.content article.detail-post img {
  max-width: 100%;
}

main.content article.detail-post p {
  text-shadow: -1px 0 0 #ffffff;
}

main.content article.latest-post {
  width: 100%;
  font-size: 1.35em;
  margin: 2em auto 0;
  padding: 1.5em;
  border: none;
  border-bottom: 0.5em solid #f5f5f5;
}

main.content article.latest-post header.post-header,
main.content article.latest-post section.post-excerpt {
  max-width: 1200px;
  margin: 0 auto;
}

main.content article.featured {
  background-color: #d6f5ff;
  padding: 1.5em;
}

main.content article.featured header {
  border-bottom: 1px solid #94cadb !important;
}

main.content article.featured .post-meta time {
  background-color: rgba(112, 189, 255, 0.91);
}

main.content article .post-meta {
  display: block;
  text-align: center;
}

main.content article .post-meta time {
  font-size: 0.75em;
  text-shadow: 1px 1px 2px rgba(58, 65, 69, 0.7);
  margin: 0 auto;
  padding: 0.25rem 0.8rem;
  border-radius: 0.3rem;
  min-width: 7em;
  text-align: center;
  display: inline;
  clear: both;
  background-color: #b9c1c5;
  color: #ffffff;
}

main.content article header {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
}

main.content article .more-link {
  font-weight: bold;
  color: #1a75b5;
}

main.content article .more-link:hover {
  color: #b51e3e;
}

main.content article h1.post-title {
  margin: 2.4rem 0 4rem;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.5em;
}

main.content article h2.post-title {
  font-size: 4em;
  margin: 0.3em 0 1rem;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}

main.content article h2.post-title a, main.content article h1.post-title a {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: none;
  color: #3a4145;
}

main.content article h2.post-title:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

main.content article h2.post-title:hover a {
  color: #b51e3e;
}

h2#tag-title, h2#category-title, h2#archive-title {
    font-family: 'Roboto',sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em;
    text-transform: none;
    color: #77888c;
}

main.content article .tagged {
  font-size: 0.65em;
}

main.content article:first-of-type {
  margin-top: 0em;
}

main.content article:last-of-type {
  margin-bottom: 0em;
}

main.content article:last-of-type:after {
  content: '';
  margin: 0;
  padding: 0;
}

main.content nav.pagination {
  text-align: center;
  padding-bottom: 2em;
}

main.content nav.related-posts h4 {
  margin-bottom: 0.5em;
}

main.content nav.related-posts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e8e8e8;
}

main.content nav.related-posts ul li {
  border-bottom: 1px solid #e8e8e8;
}

main.content nav.related-posts ul li a {
  padding: 0.3em 0.5em;
  display: block;
  width: 100%;
  height: 100%;
}

main.content nav.related-posts ul li a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

main.content section.share {
  background-color: #ebf5fc;
  border: 1px solid #bfdff6;
  margin: 1em auto;
  text-align: left;
  padding: 0em 1em;
}

main.content section.share h4 {
  font-weight: bold;
  text-align: left;
  font-size: 1.75em;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 0.5em 0;
}

main.content section.share .links {
  display: inline-block;
  font-size: 1.5em;
  margin: 0;
  padding: 0 0 0.5em;
  text-align: right;
}

main.content section.share .links a {
  color: #1a75b5;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main.content section.share .links a:before {
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
}

main.content section.share .links a:hover:before {
  color: #145888;
}

@media screen and (max-width: 550px) {
  main.content section.share h4,
  main.content section.share .links {
    display: block;
    text-align: center;
  }
}

main.content footer.post-footer {
  font-size: 70%;
  text-align: right;
  margin-bottom: 3em;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}

main.content footer.post-footer:before,
main.content footer.post-footer:after {
  content: "";
  display: table;
}

main.content footer.post-footer:after {
  clear: both;
}

main.content footer.post-footer .author {
  width: 50%;
  float: left;
  padding: 0 2rem 2rem 0;
  border: 1px solid #dddddd;
  background-color: #f4f4f4;
  min-height: 10.5em;
}

main.content footer.post-footer .author .image {
  overflow: hidden;
}

main.content footer.post-footer .author .image img {
  margin: 1em 0 0.5em 0;
  border-radius: 4em;
  max-width: 8em;
  max-height: 8em;
  width: 100%;
}

main.content footer.post-footer .author h4,
main.content footer.post-footer .author p {
  margin: 0;
  padding: 0;
  display: block;
}

main.content footer.post-footer .author h4 {
  overflow: hidden;
  position: static;
  font-size: 1.75em;
  margin: 1em 0 0.5em 0;
}

main.content footer.post-footer .author p {
  font-size: 0.9em;
}

main.content footer.post-footer .related-posts {
  padding-right: 1em;
  width: 50%;
  float: left;
}

@media screen and (max-width: 768px) {
    dl {
        display: flex;
        flex-flow: column wrap;
        margin: 2rem;
    }
    dt {
        flex-basis: 20%;
        padding: 0.5rem;
        text-align: left;
    }
    dd {
        flex-basis: 70%;
        flex-grow: 1;
        padding: 0.2rem 0.2rem 1rem 2rem;
    }

  main.content footer.post-footer .author {
    width: 100%;
    float: none;
  }

  main.content footer.post-footer .related-posts {
    width: 100%;
    float: none;
  }
}

footer.site-footer {
  font-size: 2.5em;
  position: relative;
  z-index: 2;
  bottom: 0;
  width: 100%;
  color: #828f96;
  padding: 0em 2em 2em;
  background: #3a4145 url(/theme/images/footer-pattern.png) 0 0 repeat;
}

footer.site-footer .inner {
  margin: 0 auto;
  padding: 1.5em 0;
  max-width: 1200px;
  *zoom: 1;
}

footer.site-footer .inner:before,
footer.site-footer .inner:after {
  content: "";
  display: table;
}

footer.site-footer .inner:after {
  clear: both;
}

footer.site-footer .inner h3,
footer.site-footer .inner p {
  margin: 0;
  padding: 0;
}

footer.site-footer .inner h3 {
  color: #69757c;
}

footer.site-footer .inner p {
  color: #9ea8ad;
}

footer.site-footer .inner a {
  color: #9ea8ad;
}

footer.site-footer .inner a:hover {
  color: #ffffff;
  text-decoration: none;
}

footer.site-footer .inner .get-connected {
  width: 50%;
  float: left;
  text-align: right;
  font-size: 0.8em;
}

footer.site-footer .inner .get-connected .poweredby {
  margin-top: 1.5em;
}

footer.site-footer .inner .get-connected .poweredby a {
  text-decoration: underline;
}

footer.site-footer .inner .about {
  width: 50%;
  float: left;
}

footer.site-footer .inner .about p {
  padding-top: 0.5em;
}

@media screen and (max-width: 768px) {
  footer.site-footer .inner .get-connected {
    width: 100%;
    float: none;
    text-align: center;
    font-size: 1em;
  }

  footer.site-footer .inner .get-connected p {
    padding-top: 1.5em;
  }

  footer.site-footer .inner .about {
    width: 100%;
    float: none;
    text-align: center;
  }

  footer.site-footer .inner .about p {
    padding-top: 0.5em;
  }
}

#jmenu_header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: right;
  background-color: #000;
  height: 50px;
  opacity: 0.8;
}

#jmenu_header a {
  margin: 20px;
  color: #FFF;
  font-family: "league_gothicregular";
  font-size: 2em;
  font-weight: 400;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#jmenu_header a:hover {
  text-decoration: underline;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  font-size: 1.9em;
}

#jmenu_header a:last-child {
  margin-right: 60px;
}

#jcontact_form {
  min-width: 300px;
  width: 50%;
  margin-left: 50px;
}

#jcontact_form input,
#jcontact_form textarea,
#jcontact_form small {
  width: 100%;
  margin-bottom: 10px;
}

#jcontact_form input[type="checkbox"],
#jcontact_form input[type="radio"] {
    width: auto;
}

#jcontact_form textarea {
  height: 200px;
  font-size: 0.8em;
}

#jcontact_form input.error,
#jcontact_form textarea.error {
  border: 2px solid #F00;
  border-radius: 3px;
}

#jcontact_form #jcontact_errors {
  color: #F00;
  font-size: 0.8em;
}

div#contact_result{
    padding: 8px;
    text-align: center;
    font-size: 1.2em;
}
