{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archivos{% endblock %}

{% block content %}
<h2 id="archive-title">Lista de cosas en {{ SITENAME }}</h2>

<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
{% endblock %}
