{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}

{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}
<div class="article-wrapper">
    <article class="loading detail-post post">
        <span class="post-meta">
            <time datetime="{{ article.date.isoformat() }}" title="{{ article.locale_date }}">{{ article.locale_date }}</time>
        </span>
        <h1 class="post-title">
            <a href="{{SITEURL}}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h1>

        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}

        <section class="post-content">
            {{ article.content }}
        </section>

        <footer class="post-footer">
            <span itemscope itemtype="https://schema.org/Person">
                Autor: <a href="{{SITEURL}}/about-me.html"><span class="vcard" itemprop="name">{{ AUTHOR }}<span></a>
            </span>
            {% if article.category %}
             en <a href="{{SITEURL}}/{{ article.category.url }}">{{ article.category }}</a>
            {% endif %}
            {% if article.tags %}
             sobre
             {% for tag in article.tags %}
                <a href="{{SITEURL}}/{{ tag.url }}">{{ tag }}</a>
                {% if not loop.last %}
                 &bull;
                {% endif %}
             {% endfor %}
            {% endif %}
            <br>
            Publicado el <span title="{{ article.date.isoformat() }}">{{ article.locale_date }}</span>
            {% if article.modified %}
                <br>
                <small>(modificado el <span title="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</span>)</small>
            {% endif %}
        </footer>
    </article>
</div>
{% endblock %}
