<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
    <link rel="icon" type="image/png" href="/images/logo_javiblog_16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/images/logo_javiblog_32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/logo_javiblog_64.png" sizes="64x64" />
    {% assets filters="cssmin", output="css/style.min.css", "css/style.css", "css/slabtext.css" %}
    <link rel="stylesheet" href="/{{ ASSET_URL }}">
    {% endassets %}

    <link href="{{ SITEURL }}" rel="canonical" />

    <script src="/theme/js/config.js"></script>
</head>

<body class="{{ page_name }}">
    <nav id="secondaryTitle">
        <div class="siteInfo">
            <a href="/" title="{{ SITENAME }} - Blog personal de un programador">
                <h2 class="logo">{{ SITENAME }}</h2>
            </a>
        </div>
        <a href="#top" id="scroll-to-top" title="Menú principal"></a>
    </nav>

    <header id="site-head" style="background-image: url(/images/header_1920x600.jpg)">
        <div class="vertical">
            <a href="/" title="{{ SITENAME }}">
                <div id="site-head-content" class="inner">
                    <h2 class="blog-title">
                        {{ SITENAME }}
                    </h2>
                </div>
            </a>
        </div>
        <div id="jmenu_header">
            {% if page_name != 'index' %}
            <a href="{{ SITEURL }}">HOME</a>
            {% endif %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in pages %}
                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title|upper }}</a>
              {% endfor %}
            {% endif %}
            {% if EXTRA_MENU %}
                {% for name, uri in EXTRA_MENU %}
                <a href="{{ SITEURL }}/{{ uri }}">{{ name }}</a>
                {% endfor %}
            {% endif %}
            </div>
    </header>

    <main id="main-content" class="content" role="main">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <div class="inner">
            <div class="about" itemscope itemtype="https://schema.org/Organization">
                <h3>Sobre <span itemprop="name">{{ SITENAME }}</span></h3>
                <p>
                    <span style="color:#DDD;">{{ AUTHOR_DEFINE }}</span>
                    <br>
                    URL: <a href="{{ SITEURL }}" itemprop="url">{{ SITEURL }}</a>
                    {% if FEED_ALL_ATOM %}
                    <small>
                    &bull; <a href="{{ FEED_DOMAIN }}/{%if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}">Atom</a>
                    {% endif %}
                    {% if FEED_ALL_RSS %}
                    &bull; <a href="{{ FEED_DOMAIN }}/{%if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}">RSS</a>
                    {% endif %}
                    </small>
                    <br>
                    <span itemscope itemtype="https://schema.org/Person">
                        Autor: <a href="/about-me.html" itemprop="name">{{ AUTHOR_LONG }}</a><br>
                        Profesión: <span itemprop="jobTitle">{{ AUTHOR_JOB }}</span><br>
                        {% if AUTHOR_REPOSITORY %}
                        Code repository: <a href="{{ AUTHOR_REPOSITORY}}">{{ AUTHOR_REPOSITORY}}</a><br>
                        {% endif %}
                        <br>
                        <a href="/">Home</a> &nbsp; | &nbsp;
                        <a href="/contacto.html">Contacto</a> &nbsp; | &nbsp;
                        <a href="/privacidad-cookies.html" class="cful-nc">Privacidad y cookies</a>
                    </span>
                </p>
            </div>
            <div class="get-connected">
                <p class="poweredby">
                    Proudly powered by <a href="http://getpelican.com" target="_blank" rel="nofollow noopener noreferrer">Pelican + Jinja</a>.
                    <br>
                    Theme based in <a href="https://github.com/viktorbezdek/ghostentista" title="ghostentista 1.0.0" target="_blank" rel="nofollow noopener noreferrer">ghostentista</a>
                    <br>
                    <br>
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es" target="_blank" rel="license nofollow noopener noreferrer">
                        <img alt="Licencia de Creative Commons" style="border-width:0" src="/theme/images/CreativeCommonsBySa88x31.gif" />
                    </a>
                    <br>Este contenido está bajo una <br>
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es" target="_blank" rel="license nofollow noopener noreferrer">
                        licencia de Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional
                    </a>.
                </p>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="/theme/js/jquery-3.4.1.min.js"></script>
    {% assets filters="closure_js", output="js/packed.min.js", "js/jquery.slabtext.js", "js/salvattore.js", "js/index.js", "js/contact.js" %}
     <script src="/{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>
