{% extends "inner_index.html" %}

{% block title %}{{ SITENAME }} - categoría {{ category }}{% endblock %}

{% block content_title %}
<h2 id="category-title">Artículos en la categoría <strong>{{ category }}</strong></h2>
{% endblock %}
