{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categorías{% endblock %}

{% block content %}
    <h2 id="category-title">Categorías en {{ SITENAME }}</h2>
    <ul>
    {% for category, articles in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
{% endblock %}
