{% extends "base.html" %}
{% block content %}
<div class="article-wrapper">
    {% block content_title %}
    {% endblock %}

    {% set first_article = articles | selectattr('category', '!=', EXCLUDED_CATEGORY) | first() %}
    {% set first_article_slug = first_article.slug %}
    <article class="item loading latest-post post">
        <header class="post-header">
            <span class="post-meta">
                <time datetime="{{ first_article.date.isoformat() }}">{{ first_article.date|strftime('%d %b %Y') }}</time>
                {% if first_article.tags %}
                <span class="tagged"> en
                 {% for tag in first_article.tags %}
                    <a href="{{SITEURL}}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                 {% endfor %}
                </span>
                {% endif %}
            </span>
            <h2 class="post-title">
                <a href="{{SITEURL}}/{{ first_article.url }}" title="{{ first_article.title|striptags }}">
                    {{ first_article.title }}
                </a>
            </h2>
        </header>
        <section class="post-excerpt">
            <p>{{ first_article.summary }}</p>
        </section>
    </article>

    <div id="timeline" data-columns>
        {% for article in articles_page.object_list | selectattr('category', '!=', EXCLUDED_CATEGORY) %}
            {% if article.slug != first_article_slug %}
            <article class="item loading post">
                <header class="post-header">
                    <span class="post-meta">
                        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                        {% if article.tags %}
                        <span class="tagged"> en
                         {% for tag in article.tags %}
                            <a href="{{SITEURL}}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                         {% endfor %}
                        </span>
                        {% endif %}
                    </span>
                    <h2 class="post-title">
                        <a href="{{SITEURL}}/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a>
                    </h2>
                </header>
                <section class="post-excerpt">
                    <p>{{ article.summary }}</p>
                </section>
            </article>
            {% endif %}
        {% endfor %}
    </div>

    {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
    {% endif %}
</div><!-- /#content -->
{% endblock content %}
