{% extends "base.html" %}
{% block content %}
<div class="article-wrapper">
    {% block content_title %}
    {% endblock %}

    <div id="timeline" data-columns>
        {% for article in articles_page.object_list %}
            <article class="item loading post">
                <header class="post-header">
                    <span class="post-meta">
                        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                        {% if article.tags %}
                        <span class="tagged"> en
                         {% for tag in article.tags %}
                            <a href="{{SITEURL}}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                         {% endfor %}
                        </span>
                        {% endif %}
                    </span>
                    <h2 class="post-title">
                        <a href="{{SITEURL}}/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a>
                    </h2>
                </header>
                <section class="post-excerpt">
                    <p>{{ article.summary }}</p>
                </section>
            </article>
        {% endfor %}
    </div>

    {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
    {% endif %}
</div><!-- /#content -->
{% endblock content %}
