{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    <div class="article-wrapper">
        <article class="loading detail-post post page" id="">
            <span class="post-meta"> &nbsp; </span>
            <h1 class="post-title">{{ page.title }}</a></h1>
            <section class="post-content">
            {{ page.content }}
            {% if page.modified %}
                <p>
                Last updated: {{ page.locale_modified }}
                </p>
            {% endif %}
            </section>
        </article>
    </div>
{% endblock %}
