{% extends "inner_index.html" %}

{% block title %}{{ SITENAME }} - etiqueta {{ tag }}{% endblock %}

{% block content_title %}
<h2 id="tag-title">Artículos etiquetados como <strong>{{ tag }}</strong></h2>
{% endblock %}
