{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Etiquetas{% endblock %}

{% block content %}
    <h2 id="tag-title">Etiquetas en {{ SITENAME }}</h2>
    <ul>
    {% for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
{% endblock %}
